<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Auskommentierte Sachen sind nein "nett zu haben, aber brauchen wir eigentlich nicht //-->
<config>
	<services>
		<textmining>
			<cmd name="String" timeout="Integer"* readFromStdin=readFromStdin>
				<param  key="String">String</param>
				<param  key="String">String</param>
				<version  key="String">String</version>
			</cmd>
		</textmining>
		<database>
			<host useHttps=useHttps port="Integer">String</host>
			<insert methode="string" path="String" username="String" password="String">
				<param key="String">String</param>
				<param key="String">String</param>
				<cookie type="stroage">String</cookie>
				<cookie type="string">String</cookie>
				<header name="String">String</header>
			</insert>
			<version methode="string" methode="string" path="String" username="String" password="String">
				<param key="String">String</param>
			</version>
			<query methode="string" path="String" username="String" password="String">
				<param key="String">String</param>
				<param key="String">String</param>
				<cookie type="stroage">String</param>
				<cookie type="string">String</param>
				<header name="String">String</header>
			</query>
			<update methode="string" username="String" password="String" path="">
				<param key="String">String</param>
				<param key="String">String</param>
				<cookie type="storage">String</cookie>
				<cookie type="string">String</cookie>
				<header name="String">String</header>
			</update>
			<delete methode="string" username="String" password="String" path="">
				<param key="String">String</param>
				<param key="String">String</param>
				<cookie type="storage">String</cookie>
				<cookie type="string">String</cookie>
				<header name="String">String</header>
			</delete>
		</database>
	</services>
	<limitations>
		<threads>Interger</threads>
		<cache>Integer</cache>
	</limitations>
	<resourceCollection>
		<resource domain="Address" plugin="stream" pluginAlias="String" xlstTransformation="XLSTFile" md5Check="md5Check">
			<subFolder onInitializion="onInitializion">./pubmed/baseline/</subFolder>
			<subFolder>./pubmed/updatefiles/</subFolder>
				<includeFiles flag="endswith">String</includeFiles>
				<!-- <includeFiles flag="contains"></includeFiles>
				<includeFiles flag="pattern"></includeFiles>
				<includeFiles flag="start_date"></includeFiles>
				<includeFiles flag="end_date"></includeFiles>
				<includeFiles flag="date"></includeFiles>//-->
			<excludeFiles flag="endswith">String</excludeFiles>
			<!-- <excludeFiles flag="contains"></excludeFiles>
				<excludeFiles flag="pattern"></excludeFiles>
				<excludeFiles flag="start_date"></excludeFiles>
				<excludeFiles flag="end_date"></excludeFiles>
				<excludeFiles flag="end_date"></excludeFiles> //-->
		</resource>
	</resourceCollection>
</config>
