<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Auskommentierte Sachen sind nein "nett zu haben, aber brauchen wir eigentlich nicht //-->
<config>
	<services>
		<textmining>
			<cmd>String</cmd>
		</textmining>
		<database>
			<host protokoll="String" port="Integer">String</host>
			<store>Stringt</store>
			<query>String</query>
		</database>
	</services>
	<limitations>
		<threads>Interger</threads>
		<cache>Integer</cache>
	</limitations>
	<resourceCollection>
		<resource baseAddress="Address" plugin="stream" xlstTransformation="XLSTFile">
			<subFolder onInitializion>Path</subFolder>
			<subFolder>Path</subFolder>
				<includeFile flag="endswith"></includeFile>
				<!-- <includeFiles flag="contains"></includeFiles>
				<includeFiles flag="pattern"></includeFiles>
				<includeFiles flag="date"></includeFiles> //-->
			<excludeFiles flag="endswith"></includeFiles>
			<!-- <excludeFiles flag="contains"></includeFiles>
				<excludeFiles flag="pattern"></includeFiles> 
				<excludeFiles flag="date">Integer</includeFiles>//-->
		</resource>
	</resourceCollection>
</config>
